.menu-bar {
    padding: 3px;
    background-color: #212529;
}

.copy-bar {
    background-color: #212529;
    min-width: 100%;
    position: absolute;
    bottom: 0;
}

.copy-bar p {
    text-align: center;
    color: #FF4D6D;
}

.button {
    border: none;
    background-color: #212529;
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #F8F9FA;
}

.line {
    display: flex;
    flex-flow: row wrap;
}

.contato {
    margin: 50px auto;

}

.contato p {
    text-align: center;
}

.flor-index {
    border-radius: 30px;
    margin-top: 15px;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.container2 {
    display: flex;
    margin-left: 80px;
    margin-right: 50px;
}

.container2 p {
    padding-left: 20px;
}

.container2 img {
    border-radius: 10px;
}

.flores {
    text-align: center;
}

.img1 {
    border-top-left-radius: 10px;
}

.img2 {
    border-top-right-radius: 10px;
}

.img3 {
    border-bottom-left-radius: 10px;
}

.img4 {
    border-bottom-right-radius: 10px;
}

.signup-container {
    margin-left: 45%; 
    text-align: left; 
    width: 15%;
}

.signup-container label {
    margin-left: 0px;
}

body {
    color: #F8F9FA;
    margin: 0;
    font-weight: bold;
    background-color: #E9ECEF;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: none;
    background-color: #212529;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
}

label {
    color: black;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: #FF4D6D;
}

p {
    text-align: justify;
    color: #FF4D6D;
}

h1 {
    text-align: center;
    color: #C9184A;
}

.button:hover {
    color: #FF4D6D;
    background-color: #343A40;
}
